<!--&lt;!&ndash;<br>&ndash;&gt;-->
<!--&lt;!&ndash;<br>&ndash;&gt;-->
<!--&lt;!&ndash;<br>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="mdl-layout mdl-js-layout mdl-layout&#45;&#45;fixed-header">&ndash;&gt;-->
<!--&lt;!&ndash;<header class="mdl-layout__header">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="mdl-layout__header-row">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="mdl-layout-title">Logo</span>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="mdl-layout-spacer"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<nav class="mdl-navigation mdl-layout&#45;&#45;large-screen-only">&ndash;&gt;-->
<!--&lt;!&ndash;<a href="" class="mdl-navigation__link">Link</a>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="" class="mdl-navigation__link">Link</a>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="" class="mdl-navigation__link">Link</a>&ndash;&gt;-->
<!--&lt;!&ndash;</nav>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</header>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="mdl-layout__drawer">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="mdl-layout-title">Logo</span>&ndash;&gt;-->
<!--&lt;!&ndash;<nav class="mdl-navigation">&ndash;&gt;-->
<!--&lt;!&ndash;<a href="" class="mdl-navigation__link">Link</a>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="" class="mdl-navigation__link">Link</a>&ndash;&gt;-->
<!--&lt;!&ndash;<a href="" class="mdl-navigation__link">Link</a>&ndash;&gt;-->
<!--&lt;!&ndash;</nav>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<br>-->
<!--<main class="mdl&#45;&#45;layout__content">-->
<!--<div class="page-content">-->
<!--<div class="mdl-grid">-->
<!--<div class="mdl-cell mdl-cell&#45;&#45;6-col">-->
<!--<div class="inside">-->
<!--<div class="really-inside">-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="mdl-cell mdl-cell&#45;&#45;4-col">-->
<!--<div class="inside">-->
<!--<div class="really-inside">-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="mdl-cell mdl-cell&#45;&#45;2-col">-->
<!--<div class="inside">-->
<!--<div class="really-inside">-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</main>-->
<!--<hr>-->

<!--<div class="row m-2">-->
<!--<div class="col-md-6 p-2">-->
<!--<div class="inside">-->
<!--<div class="really-inside">-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-4 p-2">-->
<!--<div class="inside">-->
<!--<div class="really-inside">-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-2 p-2">-->
<!--<div class="inside">-->
<!--<div class="really-inside">-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--<div class="demo-grid-legend text-center">Grid of default wide (4 columns) items</div>-->
<!--<div class="demo-grid mdc-layout-grid">-->
<!--<div class="mdc-layout-grid__inner text-center">-->
<!--<div class="demo-cell mdc-layout-grid__cell">4</div>-->
<!--<div class="demo-cell mdc-layout-grid__cell">4</div>-->
<!--<div class="demo-cell mdc-layout-grid__cell">4</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="text-center">-->
<!--<button class="mdc-button mdc-button&#45;&#45;raised mdc-button&#45;&#45;primary">-->
<!--Raised button-->
<!--</button>-->
<!--<button class="mdc-button mdc-button&#45;&#45;raised mdc-button&#45;&#45;primary ml-5">-->
<!--Raised button-->
<!--</button>-->
<!--</div>-->

<!--<button (click)="clickMe()" class="mdc-fab material-icons" aria-label="Favorite">-->
<!--<span class="mdc-fab__icon">-->
<!--important_devices-->
<!--</span>-->
<!--</button>-->

<!--<div class="mdc-card my-card mx-auto">-->
<!--<img src="http://www.freedigitalphotos.net/images/previews/future-10016416.jpg" alt="" class="mdc-card__media"-->
<!--width="100%">-->
<!--<section class="mdc-card__primary">-->
<!--<h1 class="mdc-card__title mdc-card__title&#45;&#45;large">Title goes here</h1>-->
<!--<h2 class="mdc-card__subtitle">Subtitle here</h2>-->
<!--</section>-->
<!--<section class="mdc-card__supporting-text bg-light border border-left-0 border-right-0">-->
<!--<ul class="mdc-list mdc-list&#45;&#45;avatar-list">-->
<!--<li class="mdc-list-item">-->
<!--<span class="m-auto">-->
<!--<img class="mdc-list-item__start-detail"-->
<!--src="http://www.freedigitalphotos.net/images/previews/future-10016416.jpg"-->
<!--width="56" height="56" alt="Picture of Janet Perkins">-->
<!--Janet Perkins-->
<!--</span>-->
<!--</li>-->
<!--<li class="mdc-list-item">-->
<!--<span class="m-auto">-->
<!--<img class="mdc-list-item__start-detail"-->
<!--src="http://www.freedigitalphotos.net/images/previews/future-10016416.jpg"-->
<!--width="56" height="56" alt="Picture of Mary Johnson">-->
<!--Mary Johnson-->
<!--</span>-->
<!--</li>-->

<!--<li class="mdc-list-item">-->
<!--<span class="m-auto">-->
<!--<img class="mdc-list-item__start-detail"-->
<!--src="http://www.freedigitalphotos.net/images/previews/future-10016416.jpg"-->
<!--width="56" height="56" alt="Picture of Peter Carlsson">-->
<!--Peter Carlsson-->
<!--</span>-->
<!--</li>-->
<!--</ul>-->
<!--</section>-->
<!--<section class="mdc-card__actions text-center">-->
<!--<button class="mdc-button mdc-button&#45;&#45;compact mdc-card__action ml-auto">Action 1</button>-->
<!--<button class="mdc-button mdc-button&#45;&#45;compact mdc-card__action mr-auto">Action 2</button>-->
<!--</section>-->
<!--</div>-->

<!--<md-slider></md-slider>-->

<!--<hr>-->
<!--<div class="mdc-switch ml-4">-->
<!--<input type="checkbox" id="basic-switch" class="mdc-switch__native-control" (change)="''" checked #switch/>-->
<!--<div class="mdc-switch__background">-->
<!--<div class="mdc-switch__knob"></div>-->
<!--</div>-->
<!--</div>-->
<!--<label for="basic-switch" class="mdc-switch-label">off/on</label>-->


<!--<main *ngIf="checkSwitch(switch)" class="mdl&#45;&#45;layout__content bg-dark">-->
<!--<div class="page-content">-->
<!--<div class="mdl-grid">-->
<!--<div class="mdl-cell mdl-cell&#45;&#45;4-col mdl-cell&#45;&#45;4-col-tablet mdl-cell&#45;&#45;12-col-phone">-->
<!--<md-chip-list class="mat-chip-list-stacked" aria-orientation="vertical">-->
<!--<md-chip>One</md-chip>-->
<!--<md-chip>Two</md-chip>-->
<!--<md-chip>Three</md-chip>-->
<!--</md-chip-list>-->
<!--</div>-->
<!--<div class="mdl-cell mdl-cell&#45;&#45;4-col mdl-cell&#45;&#45;4-col-tablet mdl-cell&#45;&#45;12-col-phone">-->
<!--<md-chip-list class="mat-chip-list-stacked" aria-orientation="vertical">-->
<!--<md-chip>Four</md-chip>-->
<!--<md-chip>Five</md-chip>-->
<!--<md-chip>Six</md-chip>-->
<!--</md-chip-list>-->
<!--</div>-->
<!--<div class="mdl-cell mdl-cell&#45;&#45;4-col mdl-cell&#45;&#45;12-col-tablet mdl-cell&#45;&#45;hide-phone">-->
<!--<md-chip-list class="mat-chip-list-stacked" aria-orientation="vertical">-->
<!--<md-chip>Seven</md-chip>-->
<!--<md-chip>Eight</md-chip>-->
<!--<md-chip>Nine</md-chip>-->
<!--</md-chip-list>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</main>-->
<!--<hr>-->


<!--<label for="css-only-textfield-box">Your name:</label>-->
<!--<div class="mdc-textfield mdc-textfield&#45;&#45;box">-->
<!--<input type="text" class="mdc-textfield__input" id="css-only-textfield-box" placeholder="Name">-->
<!--</div>-->

<!--<ul class="mdc-list">-->
<!--<li class="mdc-list-item">-->
<!--<i class="mdc-list-item__start-detail material-icons" aria-hidden="true">network_wifi</i>-->
<!--Wi-Fi-->
<!--</li>-->
<!--<li class="mdc-list-item">-->
<!--<i class="mdc-list-item__start-detail material-icons" aria-hidden="true">bluetooth</i>-->
<!--Bluetooth-->
<!--</li>-->
<!--<li class="mdc-list-item">-->
<!--<i class="mdc-list-item__start-detail material-icons" aria-hidden="true">data_usage</i>-->
<!--Data Usage-->
<!--</li>-->
<!--</ul>-->

<!--<hr>-->

<!--<h2>Contacts</h2>-->
<!--<ul class="mdc-list mdc-list&#45;&#45;avatar-list">-->
<!--<li class="mdc-list-item">-->
<!--<img class="mdc-list-item__start-detail" src="http://www.freedigitalphotos.net/images/previews/future-10016416.jpg"-->
<!--width="56" height="56" alt="Picture of Janet Perkins">-->
<!--Janet Perkins-->
<!--</li>-->
<!--<li class="mdc-list-item">-->
<!--<img class="mdc-list-item__start-detail" src="http://www.freedigitalphotos.net/images/previews/future-10016416.jpg"-->
<!--width="56" height="56" alt="Picture of Mary Johnson">-->
<!--Mary Johnson-->
<!--</li>-->
<!--<li class="mdc-list-item">-->
<!--<img class="mdc-list-item__start-detail" src="http://www.freedigitalphotos.net/images/previews/future-10016416.jpg"-->
<!--width="56" height="56" alt="Picture of Peter Carlsson">-->
<!--Peter Carlsson-->
<!--</li>-->
<!--</ul>-->

<!--<hr>-->

<!--<nav id="icon-text-tab-bar" class="mdc-tab-bar mdc-tab-bar&#45;&#45;icons-with-text">-->
<!--<a class="mdc-tab mdc-tab&#45;&#45;with-icon-and-text mdc-tab&#45;&#45;active">-->
<!--<i class="material-icons mdc-tab__icon" aria-hidden="true">phone</i>-->
<!--<span class="mdc-tab__icon-text">Recents</span>-->
<!--</a>-->
<!--<a class="mdc-tab mdc-tab&#45;&#45;with-icon-and-text">-->
<!--<i class="material-icons mdc-tab__icon" aria-hidden="true">favorite</i>-->
<!--<span class="mdc-tab__icon-text">Favorites</span>-->
<!--</a>-->
<!--<a class="mdc-tab mdc-tab&#45;&#45;with-icon-and-text">-->
<!--<i class="material-icons mdc-tab__icon" aria-hidden="true">person_pin</i>-->
<!--<span class="mdc-tab__icon-text">Nearby</span>-->
<!--</a>-->
<!--<span class="mdc-tab-bar__indicator"></span>-->
<!--</nav>-->

<div class="container">
  <div class="flex-me">
    <div class="col-lg-4">
      <div class="screen m-auto text-white">
        <p class="pt-1 pl-1">
          DPC-330TW1-16314001 on msg-dev.outfrontmediaadpo.com(d-242)<br>
          Mode: cdse<br>
          iCanvas: apk: VLE-1.7.0
        </p>
        <div class="display bg-secondary">
          <div id="screen1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <img class="d-block m-auto" height="140px"
                     src="http://www.outfrontmedia.com/WhatWeDo/Solutions/on-smart-media/PublishingImages/on-smart-media-logo-landing.jpg"
                     alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block" height="140px" width="100%"
                     src="https://sports.cbsimg.net/images/blogs/nike-football.jpg" alt="Second slide">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="screen m-auto text-white">
        <p class="pt-1 pl-1">
          DPC-330TW1-16314001 on msg-dev.outfrontmediaadpo.com(d-242)<br>
          Mode: cdse<br>
          iCanvas: apk: VLE-1.7.0
        </p>
        <div class="display bg-secondary">
          <div id="screen2" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <img class="d-block m-auto" height="140px" width="100%" src="https://i.stack.imgur.com/lJ45y.png"
                     alt="First slide">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="screen m-auto text-white">
        <p class="pt-1 pl-1">
          DPC-330TW1-16314001 on msg-dev.outfrontmediaadpo.com(d-242)<br>
          Mode: cdse<br>
          iCanvas: apk: VLE-1.7.0
        </p>
        <div class="display bg-secondary">
          <div id="screen3" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <img class="d-block m-auto" height="140px"
                     src="http://www.outfrontmedia.com/WhatWeDo/Solutions/on-smart-media/PublishingImages/on-smart-media-logo-landing.jpg"
                     alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block" height="140px" width="100%"
                     src="https://sports.cbsimg.net/images/blogs/nike-football.jpg" alt="Second slide">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="header-1">-->
  <!--Some bullshit-->
<!--</div>-->

<!--<div class="column-1">-->
  <!--info<br>-->
  <!--info<br>  info<br>-->
  <!--info<br>  info<br>-->
  <!--info<br>  info<br>-->
  <!--info<br>  info<br>-->
  <!--info<br>  info<br>-->
  <!--info<br>  info<br>-->
  <!--info<br>  info<br>-->
  <!--info<br>  info<br>-->
  <!--info<br>  info<br>-->
  <!--info<br>  info<br>-->
  <!--info<br>  info<br>-->
  <!--info<br>  info<br>-->
  <!--info<br>  info<br>-->
  <!--info<br>  info<br>-->
  <!--info<br>  info<br>-->
  <!--info<br>  info<br>-->
  <!--info<br>  info<br>-->
  <!--info<br>  info<br>-->
  <!--info<br>  info<br>-->
  <!--info<br>-->
<!--</div>-->

<!--<div class="column-2">-->
  <!--fix me-->
<!--</div>-->




