<form class="formwidth" (ngSubmit)="onSubmit()" #f="ngForm">
  <table class="fullwidth">
    <tr>
      <td>
        <mat-input-container class="fullwidth">
          <input type="text" matInput placeholder="First Name" id="firstname" name="firstname" required minlength="3" [(ngModel)]="address.firstname"
            #firstname="ngModel">
          <mat-hint *ngIf="!f.valid" align="end">
            <span *ngIf="firstname.errors.required && firstname.dirty">
              Name Required
            </span>
            <span *ngIf="firstname.errors.minlength &&
                         firstname.dirty &&
                         firstname.value.length > 0 ">
                Name Must Be At Least 3 characters
              </span>
          </mat-hint>
        </mat-input-container>

      </td>
      <td>
        <mat-input-container class="fullwidth">
          <input type="text" matInput placeholder="Last Name" id="lastname" name="lastname" [(ngModel)]="address.lastname">
        </mat-input-container>
      </td>
    </tr>
  </table>

  <p>
    <mat-input-container class="fullwidth">
      <textarea matInput placeholder="Address" id="address" [(ngModel)]="address.address" name="address"></textarea>
    </mat-input-container>
  </p>

  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <mat-input-container class="fullwidth">
          <input type="text" matInput placeholder="City" id="city" name="city" [(ngModel)]="address.city">
        </mat-input-container>
      </td>
      <td>
        <mat-input-container class="fullwidth">
          <input type="text" matInput placeholder="State" id="state" name="state" [(ngModel)]="address.state">
        </mat-input-container>
      </td>
      <td>
        <mat-input-container class="fullwidth">
          <input type="text" matInput placeholder="Postal Code" id="postalcode" name="postalcode" #postalcode maxlength="5" [(ngModel)]="address.postalcode">
          <mat-hint align="end">
            {{ postalcode.value.length }} / 5
          </mat-hint>
        </mat-input-container>
      </td>
    </tr>
  </table>

  <p>
    <button type="submit" mat-raised-button [disabled]="!f.valid">Submit</button>
  </p>

</form>
