<mat-card class="demo-panel">
  <mat-card-title>
    <h1>Angular Material Menu Demo</h1>
  </mat-card-title>
  <mat-card-content>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Open Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="subMenu">
        <md-icon>settings</md-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item (click)="onVoiceMail()">
        <md-icon>voicemail</md-icon>
        <span>Check Voicemail</span>
      </button>
      <button mat-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable Alerts</span>
      </button>
    </mat-menu>
  </mat-card-content>
  <mat-menu #subMenu="matMenu">
    <button mat-menu-item (click)="onOne()">
      one
    </button>
    <button mat-menu-item>
      two
    </button>
    <button mat-menu-item>
      three
    </button>
  </mat-menu>
</mat-card>
